/******************************************************************
************************ Body style *******************************
******************************************************************/


body{
	font-size: 30px;
	color: black;
	background-color: white;
	float: 	left;
}
/******************************************************************
*************************** Header ********************************
******************************************************************/
#header-nav {
	border-radius: 0;
	background-color: white;
}
.navbar-brand{
	padding-top: 55px;
	margin-bottom: 80px;
}

.navbar-brand h1{
	text-transform: uppercase;
	margin-top: 0;
	text-shadow: 1px 1px 1px #222;
	color: black;
	font-size: 40px;
	line-height: 0px;
	margin-right: 380px;
	margin-bottom: 200px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list{
	margin-top: 10px;
}
.modi {
	float: right;
}


.panel-footer  {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	border-top: 0;
	background-color: white;
}

.panel-footer div.row {
	margin-bottom: 55px;
	background-color: white;
}
#hours, #address {
	line-height: 1;
	text-align: center;
	
}
#hours > span, #address > span{
	font-size: 20px;
	font-weight: bold;
	
}
#address p {
	color: black;
	font-size: 20px;
}
#address {
	font-size: 20px;
}
#hours p {
	text-align: center;
	font-size: 20px;
}
#testimonials p {
	font-style: italic;
	font-size: 20px;
}
#testimonials p:nth-child(2) {
	font-weight: bold;
	font-size: 20px;
}
.text-center {
	margin-top: 35px;
	font-size: 20px;
}